body {
            height: 100%;
            overflow-x: hidden;
            padding-top: 98px;

        }

        .navbar {

            padding: 0.2rem 2rem;
            margin-left: -3%;
        }

        .bg-dark {
            background-color: black !important;
        }

        .navbar-toggler {
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 0.25rem;
        }



        .nav-link {
            color: white;
            font-weight: bold;

        }

        .nav-link:hover {

            text-decoration: underline;
            color: white;
            text-decoration-color: white;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }


        .brand {
            color: white;
            text-decoration: none;
            display: inline;
            margin-left: -18%;
        }

        a:link {

            text-decoration: none;
            cursor: pointer;

        }

        body .navbar.navbar-fixed-top {
            background-color: black !important;

        }

        .navbar-dark .navbar-nav .nav-link:hover,
        .navbar-dark .navbar-nav .nav-link:focus {
            color: white;
        }

        .top-header {
            color: black;
        }



        .no-padding {
            padding-left: 0px;
            padding-right: 0px;
        }


        .footer-style {

            background: black;
            text-align: center;
            color: white;
            height: 150px;
        }

        .left-align {
            text-align: left;
        }

        .center-align {
            text-align: center;
        }

        .contact-style {
            background: black;
            text-align: center;
            color: white;
            height: 180px;
            padding: 2% 1%;
            line-height: 1;
        }

        .social-style {

            background: black;
            text-align: center;
            color: white;
            height: 180px;
            padding: 4% 1%;
        }

        .btn-lg-round {
            margin-top: 2%;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            margin-left: 2%;
        }

        .facebook-social {
            background-color: #3b5998;

        }

        .twitter-social {
            background-color: #1dcaff;

        }

        .instagran-social {
            background: linear-gradient(to top right, #8a3ab9, #8a3ab9, #4c68d7, #cd486b, #fbad50, #fccc63, #bc2a8d, #e95950);
            border-color: black;
        }

        .youtube-social {
            background-color: #cc181e;
        }

        .facebook-social:hover {
            opacity: 0.8;
        }

        .twitter-social:hover {
            opacity: 0.8;
        }

        .instagran-social:hover {
            opacity: 0.8;
        }

        .youtube-social:hover {
            opacity: 0.8;
        }